" Some IJ defaults 
" ==========
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq
" ===========

" Remap leader key --->
let mapleader = ";"

" Plugins --->
set NERDTree
set easymotion

" My bindings --->
nmap gr <Action>(RenameElement)
nmap gi <Action>(ReSharperGotoImplementation)
vmap gm <Action>(ExtractMethod)
nmap gt <Action>(ActivateTerminalToolWindow)
nmap gh <Action>(HideActiveWindow)
nmap gw <Action>(SelectInProjectView)

nmap sf <Action>(ActivateProjectToolWindow)
nmap sv <Action>(SplitVertically)

nmap <leader>c <Action>(ReformatCode)
nmap <leader>t <Action>(RiderUnitTestRunSolutionAction)
nmap <leader>r <Action>(mainRunToolbarRunProcess) 
nmap <leader>d <Action>(mainRunToolbarDebugProcess)
nmap <leader>f <Action>(SearchEverywhere)
nmap <leader>b <Action>(BuildSolutionAction)

nmap <leader>e <Action>(NextTab)
nmap <leader>q <Action>(PreviousTab)
nmap <leader>s <Plug>(easymotion-bd-w)

" Find more examples here: https://jb.gg/share-ideavimrc

